@model IEnumerable<TestProject.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div ng-app="main">
    <div ng-controller="DemoCtrl">

        <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
        <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
        <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
        <p>
            <strong>Filter:</strong> {{tableParams.filter()|json}}


            <table ng-table="tableParams" show-filter="true" class="table">
                <tr ng-repeat="user in $data">
                    <td data-title="'ID'" sortable="'ID'" filter="{ 'ID': 'text' }">
                        {{user.ID}}
                    </td>
                    <td data-title="'Email'" sortable="'Email'" filter="{ 'Email': 'text' }">
                        {{user.Email}}
                    </td>
                    <td data-title="'Password'" sortable="'Password'" filter="{ 'Password': 'text' }">
                        {{user.Password}}
                    </td>
                    <td data-title="'Name'" sortable="'Name'" filter="{ 'Name': 'text' }">
                        {{user.Name}}
                    </td>
                    <td data-title="'Last Name'" sortable="'LastName'" filter="{ 'LastName': 'text' }">
                        {{user.LastName}}
                    </td>
                    <td data-title="'Date of birth'" sortable="'DateOfBirth'" filter="{ 'DateOfBirth': 'text' }">
                        {{user.DateOfBirth}}
                    </td>
                    <td data-title="'Added date'" sortable="'AddedDate'" filter="{ 'AddedDate': 'text' }">
                        {{user.AddedDate}}
                    </td>
                    <td data-title="'Activated date'" sortable="'ActivatedDate'" filter="{ 'ActivatedDate': 'text' }">
                        {{user.ActivatedDate}}
                    </td>
                    <td data-title="'Activated link'" sortable="'ActivatedLink'" filter="{ 'ActivatedLink': 'text' }">
                        {{user.ActivatedLink}}
                    </td>
                    <td data-title="'Last visit date'" sortable="'LastVisitDate'" filter="{ 'LastVisitDate': 'text' }">
                        {{user.LastVisitDate}}
                    </td>
                    <td data-title="'Avatar'" sortable="'AvatarPath'" filter="{ 'Avatarpath': 'text' }">
                        {{user.AvatarPath}}
                    </td>
                    <td data-title="'Status'" sortable="'Status'" filter="{ 'Status': 'text' }">
                        {{user.Status}}
                    </td>
                    <td data-title="'Roles'" sortable="'Roles'" filter="{ 'Roles': 'text' }">
                        <div ng-repeat="role in user.Roles"> {{role.Name}} </div>
                    </td>
                </tr>
            </table>
    </div>
</div>