@model TestProject.Models.User

@if (Model != null)
{
    <a class="btn btn-success" type="button" href="admin/loginadmin/logout">@Model.Email</a>

    <a class="btn btn-success" type="button" href="admin/loginadmin/logout" data-toggle="tooltip" data-placement="bottom" title="Выход">
        <span class=" glyphicon glyphicon-log-out" aria-hidden="true"></span>
    </a>
}
else
{
    <a class="btn btn-success" type="button" href="admin/loginadmin/index" data-toggle="tooltip" data-placement="bottom" title="Вход">
        <span class=" glyphicon glyphicon-log-in" aria-hidden="true"></span>
    </a>
}
