@model TestProject.Models.User
@if (Model != null)
{
    <a class="btn btn-link" type="button">@Model.Email</a>

    <a class="btn btn-link" type="button" href="~/login/logout" data-toggle="tooltip" data-placement="bottom" title="Выход">
        <span class=" glyphicon glyphicon-log-out" aria-hidden="true"></span>
    </a>
}
else
{
    @Html.ActionLink("Зарегистрироваться", "Create")
    
    <a class="btn btn-link" type="button" href="~/login/index" data-toggle="tooltip" data-placement="bottom" title="Вход">
        <span class=" glyphicon glyphicon-log-in" aria-hidden="true"></span>
    </a>
}
