@model TestProject.Models.ViewModels.PassChanger
@{
    ViewBag.Title = "Change password";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/home/">Home</a></li>
        <li><a href="/home/about">About us</a></li>
    </ul>
</nav>
<div class="heading">
    <h1>Change password</h1>
</div>

<div class="center">
    <div class="form-group">
        @using (Html.BeginForm("ChangePass", "User", FormMethod.Post, new { @class = "form" }))
        {
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="Email">
                        New password
                    </label>
                    <div class="controls">
                        @Html.TextBox("NewPassword", Model.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessage("NewPassword")
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label" for="Password">
                        Confirm new password
                    </label>
                    <div class="controls">
                        @Html.Password("ConfirmNewPassword", Model.ConfirmNewPassword, new { @class = "form-control" })
                        @Html.ValidationMessage("ConfirmNewPassword")
                    </div>
                </div>
                <br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        Change
                    </button>
                </div>
            </fieldset>
        }
    </div>
</div>
