<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="mimeConfig" type="TestProject.Global.Config.MimeTypesConfigSection, TestProject" />
    <section name="mailConfig" type="TestProject.Global.Config.MailSetting, TestProject" />
    <section name="iconConfig" type="TestProject.Global.Config.IconSizesConfigSection, TestProject" />
    <section name="mailTemplateConfig" type="TestProject.Global.Config.MailTemplateConfigSection, TestProject" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Culture" value="ru" />
    <add key="EnableMail" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="UserDbContext" connectionString="Data Source=ERIK-PC\SQLEXPRESS;Initial Catalog=Test;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
    
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <iconConfig>
    <iconSizes>
      <add name="Avatar173Size" width="173" height="176" />
    </iconSizes>
  </iconConfig>
  <mailConfig SmtpServer="smtp.gmail.com" SmtpPort="587" SmtpUserName="erik2688@gmail.com" SmtpPassword="arhitektorov0584" SmtpReply="erik2688@gmail.com" SmtpUser="test" EnableSsl="false" />
  <mailTemplateConfig>
    <mailTemplates>
      <add name="Register" subject="Регистрация на {0}" template="Здравствуйте! &lt;br/&gt;&lt;br/&gt; Перейдите по ссылке  &lt;a href='http://{1}/User/Activate/{0}'&gt;http://{1}/User/Activate/{0}&lt;/a&gt;, чтобы подтвертить свой почтовый ящик.&lt;br/&gt;-----&lt;br/&gt;С уважением, команда &lt;a href='http://{1}'&gt;{1}&lt;/a&gt;" />
      <add name="Change" subject="Смена пароля на {0}" template="Здравствуйте! &lt;br/&gt;&lt;br/&gt; Перейдите по ссылке  &lt;a href='http://{1}/User/ChangePass/{0}'&gt;http://{1}/User/Activate/{0}&lt;/a&gt;, чтобы сменить пароль.&lt;br/&gt;-----&lt;br/&gt;С уважением, команда &lt;a href='http://{1}'&gt;{1}&lt;/a&gt;" />
      <add name="Edit" subject="Изменения статуса на {0}" template="Здравствуйте! &lt;br/&gt;&lt;br/&gt; Вы {1}.&lt;br/&gt;-----&lt;br/&gt;С уважением, команда &lt;a href='http://{1}'&gt;{1}&lt;/a&gt;" />
      <add name="ForgotPassword" subject="Ваш пароль в {0}" template="Здравствуйте!&lt;br/&gt;&lt;br/&gt;Ниже указана информация для доступа в &lt;a href='http://{2}/'&gt;{2}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;Email : {0}&lt;br/&gt;Пароль: {1}&lt;br/&gt;&lt;br/&gt; -----&lt;br/&gt;С уважением, команда &lt;a href='http://{2}'&gt;{2}&lt;/a&gt;" />
    </mailTemplates>
  </mailTemplateConfig>
  <mimeConfig>
    <mimeTypes>
      <add name="image/jpeg" resource="" small="/Content/mime/small/image-jpg.png" extension=".jpg" />
      <add name="image/jpeg" resource="" small="/Content/mime/small/image-jpg.png" extension=".jpeg" />
      <add name="image/gif" resource="" small="/Content/mime/small/image-gif.png" extension=".gif" />
      <add name="image/png" resource="" small="/Content/mime/small/image-png.png" extension=".png" />
      <add name="image/bmp" resource="/Content/mime/image-bmp.png" small="/Content/mime/small/image-bmp.png" extension=".bmp" />
    </mimeTypes>
  </mimeConfig>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  
</configuration>
